<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/userPage">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="bi bi-house-door menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/userAddress">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Address</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/changePassword">
                <i class="bi bi-key menu-icon"></i>
                <span class="menu-title">Password</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wallet">
                <i class="bi bi-wallet2 menu-icon"></i>
                <span class="menu-title">Wallet</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order">
                <i class="bi bi-truck menu-icon"></i>
                <span class="menu-title">Order</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart">
            <i class="mdi mdi-cart"></i>
                <i class="bi bi-cart menu-icon"></i>
                <span class="menu-title">Cart</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="bi bi-box-arrow-right menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>