    <script src="/javascripts/user/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/user//popper.js"></script>
    <script src="/javascripts/user//bootstrap.min.js"></script>
    <script src="/javascripts/user//stellar.js"></script>
    <script src="/vendors/users/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/users/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/users/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/users/isotope/isotope-min.js"></script>
    <script src="/vendors/users/owl-carousel/owl.carousel.min.js"></script>
    <script src="/javascripts/user/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/user/mail-script.js"></script>
    <script src="/vendors/users/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/users/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/users/counter-up/jquery.counterup.js"></script>
    <script src="/javascripts/user/theme.js"></script>
    
</body>
</html>