<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/admin/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/admin/images/favicon.png" />


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <style>
        .digit-group1 input {
            width: 30px;
            height: 30px;
            background-color: #18182a;
            border: none;
            line-height: 50px;
            text-align: center;
            font-size: 24px;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            color: white;
            margin: 0 2px;
        }

        .digit-group1 .splitter {
            padding: 0 5px;
            color: white;
            font-size: 24px;
        }

        .prompt {
            margin-bottom: 20px;
            font-size: 20px;
            color: white;
        }
    </style>

</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <h4 class="text-uppercase">{{user.name}}</h4>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            {{>userprofile}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                {{#if failedotp}}
                                <h3 class="text-center" style="color: red;">{{failedotp}}</h3>
                                {{/if}}
                                <p class="card-title">User Profile</p>
                                <section style="background-color: #eee;">
                                    <div class="container py-5">
                                        <div class="row align-items-center">
                                            <div class="col-lg-8 align-self-center">
                                                <div class="contract p-5">
                                                    <h1 class="text-center pb-3">Change Password</h1>
                                                    <form id="changepassword">
                                                        <div class="form-group">
                                                            <input type="password" name="currentpassword"
                                                                id="currentpassword" oninput="passwordvalidate()"
                                                                class="form-control" placeholder="Current Password"
                                                                required>
                                                            <span id="pass-error" style="color: red;"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="newpassword"
                                                                oninput="newpasswordvalidate()" id="new-pass"
                                                                class="form-control" placeholder="New Password"
                                                                required>
                                                            <span id="pass-error1" style="color: red;"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" id="repass" class="form-control"
                                                                placeholder="Re-Enter Password"
                                                                oninput="validateRepass()" required>
                                                            <span id="pass-error2" style="color: red;"></span>
                                                        </div>
                                                        <div class="row px-5 pt-2">
                                                            <button type="submit" onclick="changePassword()"
                                                                class="btn btn-primary">Change
                                                                Password</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 align-self-center">
                                                <div class="card mb-4">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <h4>Forgot Your Password</h4>
                                                            <h6>A messsage will be sent your mobile for us to verify its
                                                                You </h6>
                                                            <div class="row px-5 pt-2">

                                                                <button onclick="trigger()" class="btn btn-primary">
                                                                    Send Message</button>

                                                                <!-- Modal -->
                                                                <div class="modal fade" id="exampleModalCenter">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                        role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLongTitle">Edit
                                                                                    Profile
                                                                                </h5>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                        aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div
                                                                                    class="d-flex justify-content-center align-items-center container">
                                                                                    <div
                                                                                        class="card d-flex justify-content-center p-5">
                                                                                        <h5 class="m-0">Mobile phone
                                                                                            verification</h5><span
                                                                                            class="mobile-text">Enter
                                                                                            the code we just send on
                                                                                            your mobile phone
                                                                                            <form method="post"
                                                                                                action="/chngePassOTP"
                                                                                                class="digit-group1 text-center"
                                                                                                data-group-name="digits"
                                                                                                data-autosubmit="true"
                                                                                                autocomplete="off">
                                                                                                <input type="text"
                                                                                                    id="digit-1"
                                                                                                    name="digit-1"
                                                                                                    data-next="digit-2" />
                                                                                                <input type="text"
                                                                                                    id="digit-2"
                                                                                                    name="digit-2"
                                                                                                    data-next="digit-3"
                                                                                                    data-previous="digit-1" />
                                                                                                <input type="text"
                                                                                                    id="digit-3"
                                                                                                    name="digit-3"
                                                                                                    data-next="digit-4"
                                                                                                    data-previous="digit-2" />
                                                                                                <input type="text"
                                                                                                    id="digit-4"
                                                                                                    name="digit-4"
                                                                                                    data-next="digit-5"
                                                                                                    data-previous="digit-3" />
                                                                                                <input type="text"
                                                                                                    id="digit-5"
                                                                                                    name="digit-5"
                                                                                                    data-next="digit-6"
                                                                                                    data-previous="digit-4" />
                                                                                                <input type="text"
                                                                                                    id="digit-6"
                                                                                                    name="digit-6"
                                                                                                    data-next="digit-7"
                                                                                                    data-previous="digit-5" />
                                                                                            </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script>
        $('.digit-group1').find('input').each(function () {
            $(this).attr('maxlength', 1);
            $(this).on('keyup', function (e) {
                var parent = $($(this).parent());
                if (e.keyCode === 8 || e.keyCode === 37) {
                    var prev = parent.find('input#' + $(this).data('previous'));
                    if (prev.length) {
                        $(prev).select();
                    }
                } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                    var next = parent.find('input#' + $(this).data('next'));
                    if (next.length) {
                        $(next).select();
                    } else {
                        if (parent.data('autosubmit')) {
                            parent.submit()
                        }
                    }
                }
            });
        });
    </script>
    {{!--
    <script src="/admin/vendors/chart.js/Chart.min.js"></script> --}}
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/template.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/admin/js/dashboard.js"></script>
    {{!--
    <script src="/admin/js/Chart.roundedBarCharts.js"></script> --}}
    <script src="/admin/js/Chart.roundedBarCharts.js"></script>
    <script src="/javascripts/user/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/user/changepassword.js"></script>
    <script>
        function trigger() {
            $.ajax({
                url: '/chngePassOTP',
                method: 'get',
                success: (response) => {
                $('#exampleModalCenter').modal('show');
                }
            })
        }
    </script>

</body>

</html>